extends layout

block content
  div.category-index
    h1.title=title

    ul.category-list
      each category in category_list
        a(href=category.url)
          li.category-item
            p.category-name=category.name
      else 
        li There are none